<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="chao.android.tools.service_pools">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
        </activity>

        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".sample.SimpleBaseActivity"/>

        <activity android:name=".init.InitSampleActivity"/>


        <activity android:name=".SecondActivity">
        </activity>

        <activity android:name=".route.TestRouteActivity"/>

        <activity android:name=".route.TestRouteTargetActivity"/>

        <activity android:name=".inherited.InheritedInheritedActivity1"/>

        <activity android:name=".inherited.InheritedInheritedActivity2"/>

        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="y60srl"/>
    </application>
</manifest>
